---
---

html
  min-height: 100%

body
  max-width: 48em
  margin: 0 auto
  padding: 0
  font-family: 'Roboto Light', 'Liberation Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-weight: 300
  font-size: 125%
  line-height: 1.35
  background: #efe linear-gradient(180deg, #eff, #afb)
  color: #262

main
  margin: 2em 1em

h1, h2, h3
  font-family: 'Liberation Serif', 'Droid Serif', 'Times New Roman', serif
  font-style: italic
  font-weight: 300
  color: #c84

h1, h2, h3, p, ul
  margin: 1em 0

ul ul, ol ul, ul ol
  margin: 0

.index-post-list
  li p+p
    margin-top: -.75em

a
  color: #06b
  text-decoration: underline
  &:visited
    color: #468
  &:hover, &:focus
    text-decoration: none
  &:active
    background: yellow
  &:focus
    outline: medium dotted

@media (prefers-color-scheme: dark)
  body
    background: #242
    background: linear-gradient(180deg, #444, #242)
    color: #acc

  h1, h2, h3
    color: #afb

  a
    color: #aec
    &:visited
      color: #bca
    &:active
      background: #000
