{% assign _needle = page.url | truncate: 12, "" | append: include.img | append: '.jpg' -%}
{% assign _img = false -%}
{% for _ in site.data.images -%}
{%   if _.file == _needle -%}
{%     assign _img = _ %}
{%   endif -%}
{% endfor -%}
{% if _img -%}
  <a href="{{ include.img }}.jpg"
    data-pswp-width="{{ _img.width }}"
    data-pswp-height="{{ _img.height }}"
    class="thumbnail" target="_blank" markdown="0">
    <picture>
      <source srcset="{{ include.img }}.300.webp" type="image/webp">
      <img src="{{ include.img }}.300.jpg" alt="Фото">
    </picture>
  </a>
{% else -%}
  <a href="{{ include.img }}.jpg" markdown="0">
    <picture>
      <source srcset="{{ include.img }}.300.webp" type="image/webp">
      <img src="{{ include.img }}.300.jpg" alt="Фото">
    </picture>
  </a>
{% endif -%}
